@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-WebFont/AvenirNext-Regular.woff") format("woff"),
       url("/fonts/AvenirNext-WebFont/AvenirNext-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-WebFont/AvenirNext-Medium.woff") format("woff"),
       url("/fonts/AvenirNext-WebFont/AvenirNext-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-WebFont/AvenirNext-DemiBold.woff") format("woff"),
       url("/fonts/AvenirNext-WebFont/AvenirNext-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
