.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__body {
    display: flex;
    flex: 1;
  }

  &__content {
    flex: 1;
    padding: 64px;
    background: #fbfbfb;
  }
}
.layout,
.layout__body,
.layout__content {
  max-width: 100%;
  overflow-x: hidden;
}
