@import "../../styles/variables";

.sidebar {
  width: 260px;
  background: white;
  border-right: 1px solid $border;
  padding: 24px 0;
  font-size: 14px;
  color: $text-light;

  &__org {
    padding: 0 24px 24px;
    font-weight: 500;
    color: $text-dark;
  }

  &__section {
    padding: 24px 24px 8px;
    font-size: 12px;
    color: lighten($text-light, 10%);
    text-transform: uppercase;
  }

  &__link {
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    color: $text-light;
    cursor: pointer;

    &:hover {
      background: #f7f9fc;
    }

    &.active {
      background: rgba(57, 205, 204, 0.1);
      border-left: 4px solid $accent;
      color: $accent;
    }
  }
}
